ADS1x15-ADC==1.2.2
geopy==2.4.1
Jetson.GPIO==2.1.12
matplotlib==3.10.8
ollama==0.6.1
pandas==2.3.3
PyAudio==0.2.14
PyYAML==6.0.3
requests==2.32.5
scikit-learn==1.7.2
silero==0.5.2
silero-vad==5.1.2
torchcodec==0.9.1
